.products {
    margin-top: 200px;
    /* min-height: 600px; */
    width: 100%;
    max-height: 100%;
    height: auto;
}

.product-top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-top__title {
    color: #ff4501;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
}

.product-top__select {
    width: 180px;
    height: 40px;
    background-color: #e0e0e0;
    color: #000;
    outline: none;
    font-size: 16px;
    padding: 0 0 0 16px; 
}

.product__box-card {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    /* grid-template-rows: 460px 460px 460px; */
    grid-template-rows: 460px;
    justify-content: center;
    justify-items: center;
    gap: 30px 10px;
    margin-top: 60px;
    min-height: 40vh;
}

.card-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 460px;
    width: 380px; */
    background-color: #fff;
    position: relative;
}
.card-item__delete{
    /* content: '';
    background-image: url('./../images/X.svg'); */
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.card-item__link-img {
    display: block;
    width: 100%;
    height: 100%;
}

.card-item__img {
    height: auto;
    min-height: 100px;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}

.card-text__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
}

.card-item__price {
    font-size: 26px;
    line-height: 30px;
    color: #ff4501;
}

.card-item__link-title {
    text-decoration: none;
}

.card-item__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}