.tabs__content{
    min-height: 400px;
    overflow-y: hidden;
}

.profile {
    width: 100%;
    height: 400px;
    margin-top: 200px;
}
.profile__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 30px;
}
.profile__avatar-box {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.profile__avatar-box__img {
    height: 260px;
    width: 240px;
}

.profile__avatar-box__img-img{
    width: 100%;
    height: 100%; 
    /* border-top-left-radius: 60px;
    border-top-right-radius: 50px; */
    object-fit: cover;
    object-position: center center;
}

.profile__avatar-box__input {
    /* margin-top: 4px; */
    background-color: #1b1b1b;
    color: #ff4501;
    /* padding: 6px 12px; */
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.profile__avatar-btn-input{
    opacity: 0;
    /* visibility: hidden; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.profile__nickname-box {
    margin-left: 40px;
    margin-top: 20px;
    
}

.profile__nickname-title{
    font-size: 26px;
    color: #fff;
    padding: 0 0 4px 0;
    border-bottom: 2px solid #ff4501;
}


.productStatuses-page {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
}

.productStatuses-inBasket-item,
.productStatuses-inLiked-item,
.productStatuses-inPurchased-item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 360px;
    width: 280px;
    position: relative;
    background-color: #fff;
}

.productStatuses-inLiked-item__delete{
    /* content: '';
    background-image: url('./../images/X.svg'); */
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}


.productStatuses-inLiked-item__count{
    /* content: '';
    background-image: url('./../images/X.svg'); */
    font-size: 20px;
    /* padding: 4px 10px;
    background-color: #e0e0e0; */
    color: #ff4501;
    top: 10px;
    right: 16px;
    position: absolute;

}

.productStatuses-inBasket-item__link-img, 
.productStatuses-inLiked-item__link-img 
.productStatuses-inPurchased-item__link-img {
    display: block;
    width: 100%;
    height: 100%;
}

.productStatuses-inBasket-item__img,
.productStatuses-inLiked-item__img,
.productStatuses-inPurchased-item__img {
    height: auto;
    min-height: 100px;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

.productStatuses-inBasket-text__container,
.productStatuses-inLiked-text__container,
.productStatuses-inPurchased-text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 12px 14px 18px 14px;
}

.productStatuses-inBasket-item__link-title,
.productStatuses-inLiked-item__link-title,
.productStatuses-inPurchased-item__link-title {
    text-decoration: none;
}

.productStatuses-inBasket-item__title,
.productStatuses-inLiked-item__title,
.productStatuses-inPurchased-item__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.productStatuses-inBasket-item__price,
.productStatuses-inLiked-item__price,
.productStatuses-inPurchased-item__price {
    font-size: 22px;
    line-height: 26px;
    color: #ff4501;
}


.productUpload {
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
}

.productUpload-inner {
    display: flex;
    justify-content: center;
}

.productUpload-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background-color: #1b1b1b;
    padding: 30px 60px 30px 60px;
}

.productUpload-form__item {
    width: 100%;
}

.productUpload-form__item-label {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.productUpload-form__item-box {
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.productUpload-form__item-box-input {
    outline: none;
    width: 100%;
    height: 26px;
    padding: 2px 10px;
    cursor: pointer;
}

.productUpload-form__item-box-select {
    outline: none;
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.productUpload-form__item-box-wrapper {
    height: 70px;
    width: 70px;
    padding: 10px;
    
}

.productUpload-form__item-box-wrapper-svg{
    width: 100%;
    height: 100%;
}

.productUpload-form__item-box-wrapper-svg path{
    fill: #ff4501;
}

.productUpload-form__item-box-file{
    opacity: 0;
    /* visibility: hidden; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.productUpload-form__item-box-textarea {
    outline: none;
    resize: none;
    width: 100%;
    height: 80px;
}

.productUpload-form__item-btn {
    margin-top: 20px;
    width: 180px;
    padding: 6px 20px;
    font-size: 20px;
    background-color: #ff4501;
    border: none;
    color: #fff;
    cursor: pointer;
}

.productUpload-form__item-box-xs,
.productUpload-form__item-box-s,
.productUpload-form__item-box-m,
.productUpload-form__item-box-l {
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productUpload-form__item-box-xs input,
.productUpload-form__item-box-s input,
.productUpload-form__item-box-m input,
.productUpload-form__item-box-l input{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    outline: none;
}




.noproduct__inLiked {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #1b1b1b;
    justify-content: center;
    align-items: center;
}
.noproduct__inLiked-title {
    color: #e0e0e0;
}


